
[flake8]
max-line-length = 200
statistics = True
show-source = True
tee = True
output_file = flake8.log
exclude =
    riscv-dv
    riscv-isa-sim
    whisper
    fpgen
    riescue_config
    *_clone
    *-scripts
    infra
    .git
    opensrc*

extend-ignore =
    E203
    F401
    F841
    E731
