test
*.orig
test
test.S
test.ld
equates.inc
loader.inc
os.inc
*.o
*.log
*.dis
*.py[cod]
*.inc
*.testlog


# Ignore directories
__pycache__/
.vscode/
coretp.egg-info/
_build/

# Bazel artifacts
test_info.txt