test
*.orig
test
test.S
test.ld
equates.inc
loader.inc
os.inc
*.o
*.log
*.dis
*.py[cod]
*.inc
*.testlog

infra/riescue.sif
fp_info/libsoftfloat.so
user_defined_params.json

# Ignore directories
__pycache__/
.vscode/
quals_output/
/bazel-*
/run_dir*
/bazel_*
/build
/regressions
/test_output
infra/bz*
infra/podman*
infra/singularity-*
_build*
tt_spike/
spike/
smoke_out/

# Bazel artifacts
test_info.txt
result.json
run.json
ucli.key